[project]
name = "python-tdd-workspace"
version = "0.1.0"
description = "Python TDD Workspace"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[tool.uv.workspace]
members = ["src/*"]

[dependency-groups]
dev = [
    "pytest>=8.0.0",
]
